{% extends 'home/base.html' %}

{% block title %}<title>Users List</title>{% endblock title %}

{% load static %}

{% block 'my_content' %}

<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="site-heading">
                    <h1>
                        There are no users created yet!
                        Create one and come back here to see how it is added to the list
                    </h1>
                </div>
            </div>
        </div>

{% endblock 'my_content' %}